<div class="bogo_wrapper one"> 
    <a class="bogo1" href="https://bergamotbeaute.com/collections/shop-all">
    <img src="https://cdn.shopify.com/s/files/1/0687/1249/7435/files/HOLI_SALE_-_Cart_Drawer_3.jpg?v=1711016873">
    </a> 
</div>
<div class="bogo_wrapper two"> 
    <img src="https://cdn.shopify.com/s/files/1/0687/1249/7435/files/NFD_SALE_-_Cart_Drawer_1.jpg?v=1711016873">

</div>

<style>
    .bogo_wrapper {
        margin-bottom: 30px;
        line-height: 0;
    }
    
    .bogo_wrapper img {
        width: 100%;
    }
    
    .bogo_wrapper  a {
        width: 100%;
        height: auto;
        display: block;
    }
     @media (max-width:768px){
    .bogo_wrapper {
        margin-bottom: 20px;
    }
}
</style>    